<div id="chat">
        <h3 style="margin: 0px;display: inline-block">Chat name: <span>{{vm.chatroomName}}</span>, user name: <span>{{vm.currentUserName}}</span></h3>
        <div class="btn btn-success" data-toggle="modal"
                data-target="#joinCharUrlModal">Invite others</div>
    </div>
    <div id="chatHistory" style="overflow-y: auto; overflow-x: hidden">
        <div style="margin: 10px 20px; "
             ng-repeat="message in vm.allReceivedMessages">
            <div style="margin: 0px 10px">
                <div>
                    <div style="background: #eeeeee; font-weight: bold;
                                font-size: 11px; padding: 5px 10px; display: inline-block;">
                        {{message.sender}}
                    </div>
                </div>
                <div style="padding: 10px; border: solid 1px #cccccc;">
                    {{message.messageText}}
                </div>
            </div>
        </div>
    </div>
    <div id="chatNewMessage">
            <div style="width: 100%; float: left; margin-right: -70px;">
                <div style="margin-right: 70px;">
                    <textarea ng-model="vm.textBoxMessageText"
                              ng-keyup="vm.onKeyUp($event)"
                              rows="1"
                              class="form-control chatview-new-entry"
                              placeholder="Enter message"></textarea>
                </div>
            </div>
            <div>
                <div class="btn btn-success" style="width: 70px;float: right;"
                     ng-click="vm.onSubmitMessageClick()">
                    Submit
                </div>
            </div>
    </div>
</div>

<div class="modal fade" id="joinCharUrlModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Share below link with your friends...</h4>
            </div>
            <div class="modal-body">
                <p>{{vm.getJoinChatLink()}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->