<div id="chat">
    <div id="chatHeader" style="margin-top: 10px; margin-bottom: 10px">
        <h3 style="margin: 0px;">Chat name: <span>{{vm.chatName}}</span>, user name: <span>{{vm.userName}}</span></h3>
    </div>
    <div id="chatHistory" style="overflow-y: auto; overflow-x: hidden">
        <div style="margin: 10px 20px; "
             ng-repeat="message in vm.allReceivedMessages">
            <div style="margin: 0px 10px">
                <div>
                    <div style="background: #eeeeee; font-weight: bold;
                                font-size: 11px; padding: 5px 10px; display: inline-block;">
                        {{message.sender}}
                    </div>
                </div>
                <div style="padding: 10px; border: solid 1px #cccccc;">
                    {{message.messageText}}
                </div>
            </div>
        </div>
    </div>
    <div id="chatNewMessage">
            <div style="width: 100%; float: left; margin-right: -70px;">
                <div style="margin-right: 70px;">
                    <textarea ng-model="vm.textBoxMessageText"
                              ng-keyup="vm.onKeyUp($event)"
                              rows="1"
                              class="form-control chatview-new-entry"
                              placeholder="Enter message"></textarea>
                </div>
            </div>
            <div>
                <div class="btn btn-success" style="width: 70px;float: right;"
                     ng-click="vm.onSubmitMessageClick()">
                    Submit
                </div>
            </div>
    </div>
</div>
