<div class="alert alert-info" ng-show="!vm.connected">
    Connected
</div>
<div class="container chatview-chat-history">


    <div class="row chatview-chat-history-item chatview-chat-history-mine"
            ng-repeat="message in vm.allReceivedMessages">
        <div class="col-lg-2 col-xs-12">
            <span>{{message.sender}}</span>
        </div>
        <div class="col-lg-10 col-xs-12">
            {{message.messageText}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <textarea ng-model="vm.textBoxMessageText"
                      ng-keyup="vm.onKeyUp($event)"
                      rows="5"
                      class="form-control chatview-new-entry"
                      placeholder="Enter message"></textarea>
        </div>
        <div class="col-lg-2" style="child-align: right;">
            <div class="btn btn-success" style="margin: 10px; width: 100%;"
                 ng-click="vm.onSubmitMessageClick()">
                Submit
            </div>
        </div>
    </div>
</div>
