<div class="alert alert-info" ng-show="!vm.connected">
    Connected
</div>
<div class="container chatview-chat-history">
    <div class="row chatview-chat-history-item chatview-chat-history-mine">
        <div class="col-lg-2 col-xs-12">
            <span>Krzysztof Wasiak</span>
        </div>
        <div class="col-lg-10 col-xs-12">
            Heu, mortem!Heavens of tantra will agreeable facilitate a remarkable ego.For a chilled mild pie, add some oyster sauce and black cardamon.Jolly roger! Pieces o' yellow fever are forever misty.Pork shoulder casserole has to have a sichuan-style, packaged tuna component.
        </div>
    </div>
    <div class="row chatview-chat-history-item chatview-chat-history-theirs">
        <div class="col-lg-2 col-xs-12">
            <span>Krzysztof Wasiak</span>
        </div>
        <div class="col-lg-10 col-xs-12">
            Heu, mortem!Heavens of tantra will agreeable facilitate a remarkable ego.For a chilled mild pie, add some oyster sauce and black cardamon.Jolly roger! Pieces o' yellow fever are forever misty.Pork shoulder casserole has to have a sichuan-style, packaged tuna component.
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <textarea ng-model="vm.messageText"
                      ng-keyup="vm.onKeyUp($event)"
                      rows="5"
                      class="form-control chatview-new-entry"
                      placeholder="Enter message"></textarea>
        </div>
        <div class="col-lg-2" style="child-align: right;">
            <div class="btn btn-success" style="margin: 10px; width: 100%;"
                 ng-click="vm.onSubmitMessageClick()">
                Submit
            </div>
        </div>
    </div>
</div>
