<div style="text-align: center; width: 100%;">
    <div style="width: 75%; display: inline-block; border: 1px solid #cccccc">
        <h2 style="margin: 2em;">
            Click below to start your new chatroom!!!
        </h2>
        <div class="btn btn-success" data-toggle="modal" data-target="#dlgUserChatName" style="margin: 10px">
            Start new Chatroom!
        </div>
    </div>
</div>

<!-- #dlgUserChatName: Modal dialog with chatroom name and user name -->
<div class="modal fade" id="dlgUserChatName" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">Set chatroom & user name</h4>
            </div>

            <!-- Content -->
            <div class="modal-body">
                <p>Content to be filled...</p>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.onStartNewChatroomClick()">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>