<div class="container chatview-chat-history">
    <div class="row">
        <div class="col-lg-2 col-xs-12">
            <span>Krzysztof Wasiak</span>
        </div>
        <div class="col-lg-10 col-xs-12">
            Heu, mortem!Heavens of tantra will agreeable facilitate a remarkable ego.For a chilled mild pie, add some oyster sauce and black cardamon.Jolly roger! Pieces o' yellow fever are forever misty.Pork shoulder casserole has to have a sichuan-style, packaged tuna component.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-xs-12">
            <span>Krzysztof Wasiak</span>
        </div>
        <div class="col-lg-10 col-xs-12">
            Heu, mortem!Heavens of tantra will agreeable facilitate a remarkable ego.For a chilled mild pie, add some oyster sauce and black cardamon.Jolly roger! Pieces o' yellow fever are forever misty.Pork shoulder casserole has to have a sichuan-style, packaged tuna component.
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <textarea rows="5" class="form-control"></textarea>
        </div>
        <div class="col-lg-2" style="child-align: right;">
            <div class="btn btn-success" style="margin: 10px; width: 100%;">Submit</div>
        </div>
    </div>
</div>
