<div style="text-align: center; width: 100%; margin-top: 30px;">
    <div style="width: 75%; display: inline-block; border: 1px solid #cccccc">
        <h2 style="margin: 2em;">
            Click below to start your new chatroom!!!
        </h2>
        <div class="btn btn-success" style="margin: 10px" ng-click="vm.onStartNewChatroomClick()">
            Start new Chatroom!
        </div>
    </div>

    <div class="panel panel-default" style="width: 75%; margin-top: 50px; display: inline-block">
        <div class="panel-heading">
            <strong style="color: red;">
                <i class="glyphicon glyphicon-warning-sign"></i>
                    Please read below before you start!!!
                <i class="glyphicon glyphicon-warning-sign"></i>
            </strong>
        </div>
        <div class="panel-body" style="text-align: left">
            <ul>
                <li>Tjazi.com is in <strong>initial testing phase</strong>; it's just an open source learning experience on how to build an online chat</li>
                <li>Your password won't be secured and it will be kept in open text in memory (no persistence yet)</li>
                <li>There's still a lot to be done to make this site secure (dealing with cross site scripting, etc.)</li>
                <li>Because all user data (profiles, passwords, etc.) are kept in memory (for now), <strong>all of it will be removed couple times a day during deployment</strong></li>
            </ul>
            If you accept the state of the current state of the application, please feel free to play with it.
            Also: go ahead and check-out it's source code at: <a href="https://github.com/kwasiak/tjazi.com">https://github.com/kwasiak/tjazi.com</a>
        </div>
    </div>

</div>

