<form>
    <div class="form-group">
        <label for="inputUserName">User name <span style="color: red">(please user some dummy user name!!!)</span></label>
        <input class="form-control" id="inputUserName" placeholder="User name"
                ng-model="vm.loginForm.userName" required="required"/>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password <span style="color: red">(please use some dummy password!!!)</span></label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                ng-model="vm.loginForm.password" required="required"/>
    </div>
    <button type="submit" class="btn btn-success" ng-click="vm.onLoginClick()">Log-in</button>
    <button type="cancel" class="btn btn-link" ng-click="vm.onCancelClick()">Cancel</button>
</form>