<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello World site!</title>

    <link th:href="@{/css/libs.css}" href="css/libs.css" rel="stylesheet"/>
    <link th:href="@{/css/app.css}" href="css/app.css" rel="stylesheet"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.auth = {
            "user": /*[[${user}]]*/ null,
            "token": /*[[${token}]]*/ null
        };
        /*]]>*/
    </script>

    <script th:src="@{/js/libs.min.js}" src="js/libs.min.js"></script>
    <script th:src="@{/js/app.min.js}" src="js/app.min.js"></script>
</head>
<body ng-app="tjaziWebApp" ng-controller="IndexController">

    <nav class="navbar navbar-default" role="navigation" style="height: 50px; margin: 0px;">
        <div class="navbar-brand" th:href="@{/}">
            <a ui-sref="home">tjazi.com</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right navbar-nav">
                <li ng-show="!isUserAuthenticated()">
                    <div class="btn btn-success navbar-btn" ui-sref="loginScreen"
                         style="margin-right: 10px; background-color: darkorange; border-color: darkorange">Log-in</div>
                    <div class="btn btn-success navbar-btn" ui-sref="newUserScreen"
                         style="margin-right: 10px; background-color: darkorange; border-color: darkorange">Sign-up</div>
                </li>
                <li ng-show="isUserAuthenticated()">
                    <p class="navbar-text">Signed in as: <strong>{{currentUserName}}</strong></p>
                </li>
                <li ng-show="isUserAuthenticated()">
                    <a class="navbar-link" ng-click="logout()"><strong>Log-out</strong></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="sideNavParent"
         style="background: black; position: absolute;
             left: 0em; width: 200px; height: 100%; color: whitesmoke; margin-top: -50px; z-index: -1;
             padding-top: 70px;">
        <ul>
            <li>Krzys</li>
            <li>Wasiak</li>
        </ul>
    </div>

    <div style="margin-left: 214px; margin-right: 14px;">
        <div>
            <div ui-view=""></div>
        </div>
    </div>
</body>
</html>