<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello World site!</title>

    <link th:href="@{/css/libs.css}" href="css/libs.css" rel="stylesheet"/>
    <link th:href="@{/css/app.css}" href="css/app.css" rel="stylesheet"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.auth = {
            "user": /*[[${user}]]*/ null,
            "token": /*[[${token}]]*/ null
        };
        /*]]>*/
    </script>

    <script th:src="@{/js/libs.min.js}" src="js/libs.min.js"></script>
    <script th:src="@{/js/app.min.js}" src="js/app.min.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-63131194-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body ng-app="tjaziWebApp" ng-controller="IndexController">

    <nav id="topNavBar" class="navbar navbar-default" role="navigation"
         style="height: 50px; margin: 0px;z-index: 2;">
        <div class="navbar-brand" th:href="@{/}">
            <a ui-sref="home">tjazi.com</a> <span style="font: 12px bold sans-serif;">(v0.0.0.1)</span>
        </div>
        <div>

        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right navbar-nav">
                <li ng-show="!isUserAuthenticated()">
                    <div class="btn btn-success navbar-btn" ui-sref="loginScreen"
                         style="margin-right: 10px; background-color: darkorange; border-color: darkorange">Log-in</div>
                    <div class="btn btn-success navbar-btn" ui-sref="newUserScreen"
                         style="margin-right: 10px; background-color: darkorange; border-color: darkorange">Sign-up</div>
                </li>
                <li ng-show="isUserAuthenticated()">
                    <p class="navbar-text">Signed in as: <strong>{{currentUserName}}</strong></p>
                </li>
                <li ng-show="isUserAuthenticated()">
                    <a class="navbar-link" ng-click="logout()"><strong>Log-out</strong></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="sideNavParent"
         style="background: black; position: absolute;
             left: 0em; width: 200px; height: 100%; color: whitesmoke; margin-top: -50px; z-index: 1;
             padding-top: 70px;">

        <div id="chatroomsSpec" ng-show="isUserAuthenticated()">
            <div ng-show="!userChatRooms">
                <span style="font-weight: bold">No chatrooms for you yet!</span>
            </div>

            <div ng-show="userChatRooms">
                Number of chatrooms: <strong>{{userChatRooms.length}}</strong>
            </div>
            <div ng-repeat="chatroom in userChatRooms">
                <a ui-sref="chatScreen({chatroomUuid: chatroom.chatroomUuid})">{{chatroom.chatroomName}}</a>
            </div>

        </div>
    </div>

    <div style="margin-left: 214px; margin-right: 14px;">
        <div>
            <div ui-view=""></div>
        </div>
    </div>
</body>
</html>