<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello World site!</title>

    <link th:href="@{/css/libs.css}" href="css/libs.css" rel="stylesheet"/>
    <link th:href="@{/css/app.css}" href="css/app.css" rel="stylesheet"/>

    <script th:src="@{/js/libs.min.js}" src="js/libs.min.js"></script>
    <script th:src="@{/js/app.min.js}" src="js/app.min.js"></script>
</head>
<body ng-app="tjaziWebApp">

    <div class="container" style="width: 100%;">
        <div class="row">
            <header style="background-color: darkgray; padding: 0.7em; color: white; font-size: large;">
                <a href="/" style="color: white; text-decoration: none;">tjazi.com</a>
            </header>
        </div>

        <nav id="sideNavParent"
             style="background: black; position: absolute;
             top: 3.6em; left: 0em; width: 13em; height: 100%; color: whitesmoke; ">
            <ul>
                <li>Krzys</li>
                <li>Wasiak</li>
            </ul>
        </nav>
    </div>

    <div class="container" style="margin-left: 14em; margin-top: 0.5em; width: 85%">
        <div class="row">
            <div ui-view=""></div>
        </div>
    </div>
</body>
</html>